.study_monitor_test_container {
    width: 600px;
}
.study_monitor {
    font-family: Montserrat, monospace, Arial, Helvetica, sans-serif;
    font-size: 12px;
     /* !! */
    margin: auto;   
}

.study_monitor table {
    width: 100%;
    height: auto;

    border-collapse: collapse;
    box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.2);
}

.study_monitor th {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 5px;
}
.study_monitor td{
    padding: 5px 5px 5px 15px;
}
.study_monitor td{
    border: 1px rgb(231, 231, 231) solid;
    background-color: rgb(255, 255, 255);
    color: black;
}


tbody > tr:first-child > td:first-child, .study_monitor .td_with_ec {
    text-align: center;
    padding: 0px;
}

.tbody_divider td {
    border-bottom: 3px rgb(231, 231, 231) solid;
    padding: 0;
}

.study_monitor .sm_grade {
    text-align: center;
    padding: 0;
}
.sm_grade::after {
    content: "?";
    color: rgb(161, 161, 161);
}

.row_bottom {
  /*border-bottom: 1px solid black;*/
}