* { box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;

    font-family: "Montserrat";
    font-weight: 400;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page_container {
    
}

.side_bar {
    
    overflow-y: auto;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 200px;

    background-color: white;
    box-shadow: 0px 20px 10px 0px rgb(0,0,0,0.1);
    
}


/* ----nav---- */
.nav {
    font-family: "Roboto Mono";
    font-weight: 900;
}
.nav ul {
    margin-top: 50px;
}
.nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    display: block;
    padding: 14px 12px 14px 25px;
}
.nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.nav a.active {
    border-right: solid 5px rgb(68, 185, 221);
}

/* ----side_bar_bottom---- */
@media only screen and (max-height: 300px) {
    .side_bar_bottom {
        display: none;
    }
}

.side_bar_bottom {
    position: absolute;
    bottom: 10px;
    width: inherit;
}
.side_bar_bottom ul {
    display:flex;
    justify-content: space-evenly;
}
.side_bar_bottom a {
    color: rgb(99, 99, 99);
    font-size: 20px;
    display: block;
    padding: 15px;
}
.side_bar_bottom a:hover {
    color: rgb(61, 61, 61);
}

select {
    font: inherit;
}
.content {
    margin-left: calc((100% - 200px - 800px) / 2  + 200px);
    max-width: 800px;
    padding: 30px 30px;
    border-left: dotted 5px #eee;
    border-right: dotted 5px #eee;
    
    
}

@media only screen and (max-width: 400px) {
    .side_bar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media only screen and (max-width: 1000px) {

    .side_bar {
        
        width: 100%;
        height: auto;
        position: relative;
    }

    .nav.a {
        box-sizing: border-box;
        padding: 14px 17px;
    }
    .nav a.active {
        border: none;
        border-bottom: inset 5px rgb(68, 185, 221);
    }



    .side_bar a {
        float: left;
    }
    .nav ul {
        margin-top: 0px;
    }
    .side_bar_bottom {
        display: none;
    }

    .content {
        margin-left: calc((100% - 800px) / 2); 
        border: none;   
        margin-top: 100px;
    }

    
    
}

@media only screen and (max-width: 800px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
}

.content h1 {
    text-align: center;
    font-size: 50px;
}

.content p {
    line-height: 22px;
    font-size: 23px;
    letter-spacing: 4px;
}

.content p a {
    text-decoration: none;
    color: rgb(68, 185, 221);
}

.content p a:hover {
    color: rgb(0, 80, 104);
    cursor: pointer;
}
.content .img {
    margin: 40px 0;
}

.content .img p {
    color: rgb(107, 107, 107);
    text-align: center;
    font: "Roboto Mono" 15px/5px;
    margin: 0;
}
.content img {
    width: 100%;
    height: auto;
}




.align-right {
    text-align: right;
}

